<p id="notice"><%= notice %></p>

<h1>Capstone Experience</h1>

<%= link_to 'New Project', new_project_path %>

  <div class="container">
    <div class="row">
      <tbody>
        <% @projects.each do |project| %>
          <div class="col-md-4">
            <tr>
              <h2><%= project.title %></h2>
              <td><%= project.description %><br></td>
              <td><%= link_to 'Show', project %></td>
              <td><%= link_to 'Edit', edit_project_path(project) %></td>
              <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          </div>
        <% end %>
      </tbody>
    </div>
    <hr>
  </div>

<br>

<footer class="container">
      <p>&copy; CS3300 UCCS 2022</p>
    </footer>